body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  //@include background-image(linear-gradient(left top, white, #dddddd));

  .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }

  .form-signup .checkbox {
    font-weight: normal;
  }

  @mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    -o-box-sizing: $type;
    -ms-box-sizing: $type;
    box-sizing: $type;
  }

  .form-signup .form-control {
    position: relative;
    height: auto;
    @include box-sizing();
    padding: 10px;
    font-size: 16px;
  }

  .form-signup .form-control:focus {
    z-index: 2;
  }

  .form-signup input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
